html {
  font-family: sans-serif;
}

header {
  font-size: 30px;
  text-align: center;
  color: lightpink;
}

.tech-slideshow {
  height: 200px;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.tech-slideshow > div {
  height: 200px;
  width: 2526px;
  background: url(picture.png);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.tech-slideshow .mover-1 {
  -webkit-animation: moveSlideshow 12s linear infinite;
          animation: moveSlideshow 12s linear infinite;
}
.tech-slideshow .mover-2 {
  opacity: 0.5;
  transition: opacity 0.5s ease-out;
  background-position: 0 -200px;
  -webkit-animation: moveSlideshow 15s linear infinite;
          animation: moveSlideshow 15s linear infinite;
}
.tech-slideshow:hover .mover-2 {
  opacity: 1;
}

@-webkit-keyframes moveSlideshow {
  100% {
    transform: translateX(-66.6666%);
  }
}

@keyframes moveSlideshow {
  100% {
    transform: translateX(-66.6666%);
  }
}

main {
  text-align: center;
}

a {
  color: lightblue;
}

input,
textarea {
  border: none;
}

p {
  color: lightgrey;
}

.h1 {
  font-size: 20px;
  font-weight: bold;
}

.h2 {
  font-size: 17px;
  font-weight: bold;
}

.button {
  background-color: pink;
  height: 10px;
  width: 20px;
  border-radius: 2px;
}
